[Unit]
Description=Fake-personalities-as-a-service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/TrollFactory
ExecStart=/usr/bin/uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.target
