@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('/fonts/poppins-v15-latin-600.woff2') format('woff2'),
       url('/fonts/poppins-v15-latin-600.woff') format('woff');
}

body {
  overflow-x: hidden;
}

.skewed {
  position: absolute;
  top: -40%;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(183, 209, 248, 1) 0%, rgba(223, 210, 244, 1) 33%, rgba(255, 203, 208, 1) 66%, rgba(172, 197, 232, 1) 100%);
  z-index: -1;
  transform: skewY(-10deg);
  transform-origin: top left;
}

h1,
h5,
.card-title,
.btn {
  font-family: 'Poppins', sans-serif;
}

h1,
.a-dark {
  color: #090909;
}

h5,
.a-dark:hover {
  color: #333;
}

a:hover {
  text-decoration: none;
}

.a-purple {
  color: #7f3e97;
}

.a-purple:hover {
  color: #bd3f78;
}

.a-pink {
  color: #f6a8a6;
}

.a-pink:hover {
  color: #ece3fc;
}

.btn-pink {
  background-color: #fcebf6;
}

.btn-pink:hover {
  background-color: #ece3fc;
}

.btn-blue {
  background-color: #ddf2fd;
}

.btn-blue:hover {
  background-color: #a5c8e4;
}

.btn-gender {
  width: 100px;
}

.card-header,
.card-body,
.card {
  background-color: rgba(9, 9, 9, 0.6);
}

.card {
  border: 0;
  color: #fcebf6;
  transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card:hover {
  transform: scale(1.02);
}

/* DARK THEME */

[data-theme="dark"] {
  background-color: #333;
}

[data-theme="dark"] .skewed {
  background: linear-gradient(90deg, rgba(204, 167, 236, 1) 0%, rgba(123, 121, 199, 1) 50%, rgba(149, 125, 173, 1) 100%);
}

[data-theme="dark"] h5,
[data-theme="dark"] .a-purple {
  color: #fcebf6;
}

[data-theme="dark"] .a-purple:hover {
  color: #7f3e97;
}
