@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src:
    local(''),
    url('/fonts/poppins-v15-latin-600.woff2') format('woff2'),
    url('/fonts/poppins-v15-latin-600.woff') format('woff');
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  color: #fcebf6;
}

.skewed {
  position: absolute;
  top: -40%;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(204, 167, 236, 1) 0%, rgba(123, 121, 199, 1) 50%, rgba(149, 125, 173, 1) 100%);
  z-index: -1;
  transform: skewY(-10deg);
  transform-origin: top left;
}

h1 {
  color: #090909;
}

h1:hover {
  color: #333;
}

h5 {
  color: #fcebf6;
}

a:hover {
  text-decoration: none;
}

.a-pink {
  color: #f6a8a6;
}

h5:hover,
.a-pink:hover {
  color: #ece3fc;
}

.a-l-pink {
  color: #fedae8;
}

.a-l-pink:hover {
  color: #f9b8d4;
}

.a-l-blue {
  color: #ddf2fd;
}

.a-l-blue:hover {
  color: #a5c8e4;
}

.btn-pink,
.fc-sel {
  background-color: #fcebf6;
}

.btn-pink:hover {
  background-color: #f9b8d4;
}

.btn-blue,
.fc-text {
  background-color: #ddf2fd;
}

.btn-blue:hover {
  background-color: #a5c8e4;
}

.card-header,
.card-body,
.card {
  background-color: rgba(9, 9, 9, 0.6);
}

.fc-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1d2429;
  }
}
