<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <title>TrollFactory</title>
</head>

<body>
  <div class="skewed"></div>
  <div class="my-5 py-5 text-center">
    <a href="/"><h1>TrollFactory</h1></a>
    <a href="https://stanislawowski.pl"><h5>Made with ❤ by SRD</h5></a>
    <h4 class="mt-5">API documentation is currently TODO.</h4>
  </div>
</body>

</html>
