<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Extremely advanced fake identity generator with free API for developers.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index">
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <title>TrollFactory</title>
</head>
<body>
  <div class="skewed"></div>
  <div class="my-5 py-5 text-center">
    <a href="/"><h1>TrollFactory</h1></a>
    <a href="https://stanislawowski.pl"><h5>Made with ❤ by SRD</h5></a>
    <div class="row mx-auto py-5">
      <div class="card mx-auto">
        <div class="card-body">
          <form method="GET" action="/output">
            <div class="input-group">
              <div class="input-group-prepend">
                <h5 class="text-dark my-auto form-control fc-text">LANG</h5>
              </div>
              <select class="form-control fc-sel" name="lang">
                <option value="polish">POLISH</option>
                <option value="english_us">ENGLISH/US</option>
              </select>
            </div>
            <div class="input-group my-1">
              <div class="input-group-prepend">
                <h5 class="text-dark my-auto form-control fc-text">SEX</h5>
              </div>
              <select class="form-control fc-sel" name="sex">
                <option value="male">MALE</option>
                <option value="female">FEMALE</option>
              </select>
            </div>
            <div class="input-group my-1">
              <div class="input-group-prepend">
                <h5 class="text-dark my-auto form-control fc-text">OUTPUT</h5>
              </div>
              <select class="form-control fc-sel" name="output">
                <option value="normal">NORMAL</option>
                <option value="json">JSON</option>
              </select>
            </div>
            <button type="submit" class="mt-3 btn btn-blue">GENERATE</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row mx-auto py-5">
      <div class="card mx-auto">
        <div class="card-body">
          <h5 class="text-light">
            CREATED BY
            <a class="a-l-blue" href="https://github.com/dante383">Dante383</a> &
            <a class="a-l-pink" href="https://github.com/0xA7404A">Aurora</a><br>
            LICENSED UNDER <a class="a-l-blue" href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPL V3</a><br>
            OPEN-SOURCE ON <a class="a-l-blue" href="https://github.com/stanislawowski/TrollFactory/">GITHUB</a><br>
          </h5>
          <div class="btn-group mt-2">
            <a href="/api" class="btn btn-blue">FOR DEVELOPERS</a>
            <a href="mailto:office@stanislawowski.pl" class="btn btn-pink">E-MAIL</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
