<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css"/>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <title>TrollFactory</title>
</head>
<body>
  <div class="skewed"></div>
  <div class="my-5 py-5 text-center">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="darkSwitch" />
      <label class="custom-control-label" for="darkSwitch"></label>
    </div>
    <h1>TrollFactory</h1>
    <h5>Made with ❤ by <a href="https://stanislawowski.pl" class="a-purple">SRD</a></h5>
    <div class="row mx-auto py-5">
      <div class="card mx-auto">
        <div class="card-header" style="height: 50px">
          <h4 class="card-title">POLISH</h4>
        </div>
        <div class="card-body">
          <a href="/output/polish/male" class="btn btn-pink btn-gender">Male</a>
          <a href="/json/polish/male" class="btn btn-blue">JSON</a>
          <br><br>
          <a href="/output/polish/female" class="btn btn-pink btn-gender">Female</a>
          <a href="/json/polish/female" class="btn btn-blue">JSON</a>
        </div>
      </div>
    </div>
  </div>
  <script src="/dark-mode-switch.min.js"></script>
</body>
