<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css"/>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <title>TrollFactory</title>
</head>
<body>
  <div class="skewed"></div>
  <div class="text-center my-5">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="darkSwitch" />
      <label class="custom-control-label" for="darkSwitch"></label>
    </div>
    <h1><a href="/" class="a-dark">TrollFactory</a></h1>
    <h5>Made with ❤ by <a href="https://stanislawowski.pl" class="a-purple">SRD</a></h5>
  </div>
  <div class="d-flex flex-row flex-wrap justify-content-center">
    {% for prop in generated %}
      <div class="card m-2">
        <div class="card-header">
          <h4 class="card-title my-auto">{{ generated[prop]['prop_title'] }}</h4>
        </div>
        <div class="card-body">
          {% for key in generated[prop] %}
            {% if (generated[prop][key]|string).startswith('https') %}
              <a class="a-pink" href="{{ generated[prop][key] }}"><b>{{ key }}</b></a><br>
            {% elif key == 'user_agent' %}
              <b>{{ key }}:</b>{% for i in generated[prop][key] %} {{ i }}<br> {% endfor %}
            {% elif key == 'prop_title' %}{% else %}
              <b>{{ key }}:</b> {{ generated[prop][key] }}<br>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div><br>
  <script src="/dark-mode-switch.min.js"></script>
</body>
