<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <title>TrollFactory</title>
</head>
<body>
  <div class="skewed"></div>
  <div class="text-center my-5">
    <a href="/"><h1>TrollFactory</h1></a>
    <a href="https://stanislawowski.pl"><h5>Made with ❤ by SRD</h5></a>
  </div>
  <div class="card mb-5 mx-5 text-center pt-2">
    <p class="card-title mx-auto">Use this link to access the personality.</h4><br>
    <a href="" class="text-light">
      https://trollfactory.tk/{{id}}
    </a>
  </div>
  <div class="d-flex flex-row flex-wrap justify-content-center">
    {% for prop in generated %}
      {% if generated[prop]['prop_title'] != 'N/A' %}
      <div class="card m-2">
        <div class="card-header">
          <h4 class="card-title my-auto">{{ generated[prop]['prop_title'] }}</h4>
        </div>
        <div class="card-body">
          {% for key in generated[prop] %}
            {% if (generated[prop][key]|string).startswith('http') %}
              <a class="a-pink" href="{{ generated[prop][key] }}"><b>{{ key }}</b></a><br>
            {% elif key == 'user_agent' %}
              <b>{{ key }}:</b>{% for i in generated[prop][key] %} {{ i }}<br> {% endfor %}
            {% elif key == 'prop_title' %}{% else %}
              <b>{{ key }}:</b> {{ generated[prop][key] }}<br>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div><br>
  <form action="/del/{{ id }}" method="post">
    <button type="submit" class="btn btn-danger m-4">
      Delete personality
    </button>
  </form>
</body>
